.footer {
  background-color: #0a2850;
  position: relative;
  height: 100%;
  color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.footer__content {
  margin: 60px 80px 0;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}
.footer__circle {
  background-color: #2f80ed;
  position: absolute;
  border-radius: 100%;
  width: 340px;
  height: 340px;
  top: -128px;
  left: -44px;
  z-index: 0;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.footer__social-heading {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
}

.footer__list-item {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 16px;
  align-items: baseline;
  column-gap: 10px;
}

.footer__social-link {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  text-decoration: none;
  display: flex;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
}
.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 60px;
  margin-left: 80px;
}
