.nav {
  display: flex;
  margin: 0;
  justify-content: space-between;
  max-height: 100px;
}

.nav__logo {
  display: flex;
  position: relative;
  height: 39px;
  width: 105px;
  padding-top: 30px;
  padding-left: 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding-top: 30px;
  padding-right: 80px;
  margin: 0;
}

.nav__link {
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  text-decoration: none;
  color: #000000;
}
.nav__link:hover {
  color: #2f80ed;
}
