.recipes {
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a2750;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: 215px;
  column-gap: 40px;
}
.recipes__video-item {
  width: 100%;
  width: 480px;
  height: 273px;
}
.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
  column-gap: 40px;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}
