.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.nav {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  position: relative;
  height: 39px;
  width: 105px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 183px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin-top: 30px;
  margin-right: 80px;
}

.nav__link {
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  text-decoration: none;
  color: #000000;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 58px;

  letter-spacing: -1px;
  margin-left: 80px;
  max-width: 709px;
}

.header__title_span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  margin-top: 28px;
  max-width: 683px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 80px;
  padding-bottom: 40px;
  padding-left: 80px;
}

.header__paragraph {
  color: #838383;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header__address {
  color: #838383;
}

.recipes {
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a2750;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 80px;
  margin-bottom: 215px;
  column-gap: 40px;
}
.recipes__video-item {
  width: 100%;
  width: 480px;
  height: 273px;
}
.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
  column-gap: 40px;
}

.recipes__video-caption {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}

.reservation {
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  display: flex;
  flex-direction: column;
}

.reservation__input {
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  height: 60px;
}

.reservation__title {
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation {
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #d9e7ff;
  padding-top: 100px;
  padding-bottom: 120px;
}

.reservation__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  justify-content: center;
  margin: auto;
  margin-bottom: 120px;
  margin-top: 80px;
  border: 0;
}

.reservation__label {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
  font-weight: 500;
}

.reservation__button {
  max-width: 385px;
  width: 100%;
  background-color: #2f80ed;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  border-radius: 4px;
  opacity: 100%;
}

.reservation__container {
  padding: 0;
  border: 0;
}

.reservation__button:hover {
  opacity: 70%;
}

.reservation__container-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: center;
  padding-top: 32px;
}

.reservation__input::placeholder {
  padding-left: 20px;
  padding-top: 15px;
}

.reservation__container-checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
